{% extends 'template.html' %}
  {% block content %}
      <form method="POST">
        <div class="form-group">
          <h3>{{ error }}</h3>
        </div>
        <div class="form-group">
          <input name="header" class="form-control" placeholder="Заголовок" value="{{ form["header"] }}" autofocus/>
        </div>
        <div class="form-group">
          <input name="signature" class="form-control" placeholder="Подпись" value="{{ form["signature"] }}"/>
        </div>
        <div class="form-group">
          <textarea name="body" class="form-control" rows="10" placeholder="Ваша история">{{ form["body"] }}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Опубликовать</button>
        </div>
      </form>
  {% endblock %}